body {
  background-color: rgb(250, 236, 219);
}

code {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div { 
  padding-top: 100px;
  padding-right: 40px;
  padding-bottom: 60px;
  padding-left: 40px;
}

div
{ 
  width: 400px;
  padding: 80px;
}
